@import "../../styles/custom/colors";
@import "../../styles/variables";

.sidebar {
  background: linear-gradient(darken($primary, 15%), $secondary);
}

.brand {
  font-weight: 700;
  font-size: 1.7rem !important;
}

.brand-dark {
  color: $primary !important;

  &:hover {
    color: $secondary !important;
  }
}

.brand-light {
  color: rgba($white, 0.95) !important;

  &:hover {
    color: $secondary !important;
  }
}

.header-height {
  height: $navbar-vertical-width-collapsed;
}

.menu-collapse {
  color: rgba(255, 255, 255, 0.95);
  cursor: pointer;
  margin-left: -0.15rem;

  i:nth-child(2) {
    padding-left: 0.2rem;
  }

  &:hover {
    color: $secondary !important;
  }
}

.sup-icon {
  padding-left: 0.1rem;
}

.sidebar-expanded {
  @media (min-width: $md) {
    max-width: $navbar-vertical-width-expanded !important;
  }
}

.sidebar-collapsed {
  @media (min-width: $md) {
    max-width: $navbar-vertical-width-collapsed !important;
    padding-left: 1.45rem !important;
  }
}

.navbar-collapse .navbar-toggler span {
  width: 120% !important;
}

.sup-icon-margin-fix {
  margin-left: -1px;
}
