.legend-list-item {
  margin-bottom:2px;
}

.assigned-term-occurrence {
  background: rgba(188, 239, 184, 0.8);
}

.suggested-term-occurrence {
  background: rgba(239, 207, 184, 0.8);
}

.invalid-term-occurrence {
  background: rgba(239, 66, 24, 0.7);
}

.loading-term-occurrence {
  background: rgba(238, 239, 144, 0.4);
}

.assigned-term-occurrence.proposed-occurrence {
  border: 0.15em dotted green;
}

.suggested-term-occurrence.proposed-occurrence {
  border: 0.15em dotted rgb(239, 69, 27)
}

.invalid-term-occurrence.proposed-occurrence {
  border: 0.15em dotted rgb(239, 14, 0)
}

.loading-term-occurrence.proposed-occurrence {
  border: 0.15em dotted rgb(239, 173, 62)
}

.term-definition {
  background: rgba(80, 200, 255, 0.8);
}

.pending-term-definition {
  background: rgba(150, 130, 255, 0.2);
}

.selected-occurrence {
}

.pwa {
  max-width: none !important;
}

.pwa-popup-title {
  margin-right: 20px;
}

.an-info {
  color: #007bff;
}

.an-warning {
  color: orangered;
}

.an-error {
  color: red;
}

.popover-body {
  background-color: rgba(230, 230, 230, 1);
}

.popover-body td.label {
  min-width: 110px
}

.popover-header {
  background-color: rgba(220, 220, 220, 1);
}

.legend {
  opacity: 0.9;
  display: inline-block;
  position: fixed !important;
  bottom: 120px;
  right:15px;
  width:230px;
  background-color: whitesmoke;
}

.legend-list {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
}

.legend-button {
  position: fixed !important;
  bottom: 80px;
  right: 15px;
  float: right
}

.analyze-button {
  position: fixed !important;
  bottom: 40px;
  right: 15px;
  float: right
}

.legend-title {
  font-size: 1.2rem;
  font-weight: 600;
}

.annotator-highlighted-annotation {
  background-color: yellow !important;
  border: 1px solid #6f42c1;
  border-radius: 0.2rem;
}
