.legend {
  opacity: 0.9;
  position: fixed !important;
  top: 150px;
  right: 15px;
  width: 230px;
  margin-right: 0.25rem;
  background-color: whitesmoke;
}

.legend-scrolled {
  top: 125px;
}

.legend-list {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
}

.annotator-action-button {
  min-width: 8.75rem;
}

.legend-title {
  font-size: 1.2rem;
  font-weight: 600;
}

.annotator-header {
  position: sticky;
  top: 60px;
  z-index: 101;
  background-color: #e9eaec;
}

.annotator-header-scrolled {
  padding-top: 16px;
}
