.legend-list-item {
  margin-bottom: 2px;
  cursor: pointer;
}

.assigned-term-occurrence {
  background: rgba(#bcefb8, 0.8);
  border: 0.15rem solid green;
}

.suggested-term-occurrence {
  background: rgba(#efcfb8, 0.8);
}

.invalid-term-occurrence {
  background: rgba(239, 66, 24, 0.7);
  border: 0.15em solid rgb(239, 69, 27);
}

.loading-term-occurrence {
  background: #e9eaec;
}

.assigned-term-occurrence.proposed-occurrence {
  background: none;
  border: 0.15em dashed green;
}

.suggested-term-occurrence.proposed-occurrence {
  background: none;
  border: 0.15em dashed rgb(239, 69, 27);
}

.invalid-term-occurrence.proposed-occurrence {
  border: 0.15em dotted rgb(239, 14, 0);
}

.loading-term-occurrence.proposed-occurrence {
  border: 0.15em dotted rgb(239, 173, 62);
}

.term-definition {
  background: rgba(80, 200, 255, 0.8);
}

.pending-term-definition {
  background: rgba(150, 130, 255, 0.2);
}

.selected-occurrence {
}

.pwa {
  max-width: none !important;
}

.pwa-popup-title {
  margin-right: 20px;
}

.an-info {
  color: #007bff;
}

.an-warning {
  color: orangered;
}

.an-error {
  color: red;
}

.popover-body {
  background-color: rgba(230, 230, 230, 1);
}

.popover-body td.label {
  min-width: 110px;
}

.popover-header {
  background-color: rgba(220, 220, 220, 1);
}

.annotator-highlighted-annotation {
  background-color: yellow !important;
  border-radius: 0.2rem;
}

.annotator-highlighted-annotation-current {
  background-color: orange !important;
}

.legend-list-item.hidden-occurrence {
  border-color: rgb(184, 184, 184);
  background: rgba(184, 184, 184, 0.5);
}
