.search-input-container {
  flex-grow: 1 !important;
}

.search-input {
  width: 100% !important;
}

table.search-results {
  table-layout: fixed;
  word-break: break-word;
  border-bottom-color: #6a7e95;
  margin-bottom: 0 !important;
}

table.search-results td {
  padding-left: 0 !important;
}

.search-result-snippet-match {
  font-weight: bold;
}

.search-result-match-row {
  margin-bottom: 1rem;
}

.search-result-badge {
  width: 5rem;
  margin-right: 0.25rem;
}

.search-result-title {
  font-weight: bold;
  font-size: large;
}
