.badge-button {
  min-width: auto !important;
  font-size: 66% !important;
  font-weight: 600 !important;
  line-height: 1 !important;
  text-align: center !important;
  border-radius: 0.25rem !important;
  padding: 0.35rem 0.375rem !important;
  vertical-align: middle !important;
}
