@import "../../styles/bootstrap/_variables.scss";

.markdown-editor-readonly {
  background-color: $input-disabled-bg !important;
  opacity: 1;
}

.editor-toolbar i.separator {
  height: auto;
  position: relative;
  overflow: initial;
}

.editor-toolbar button {
  &.bold,
  &.table,
  &.italic,
  &.heading,
  &.unordered-list,
  &.ordered-list,
  &.link,
  &.image {
    float: right;
  }
}

.editor-toolbar button.table {
  margin-bottom: 0;
}

.editor-preview blockquote {
  margin-block-start: 0.5rem;
  margin-block-end: 0.5rem;
  margin-inline-start: 1rem;
  margin-inline-end: 1rem;
}

.editor-preview blockquote p {
  margin-bottom: 0;
}
