.language-selector-nav {
  border-bottom: none !important;
}

a.language-selector-item:hover {
  border-top: 1px solid #dee2e6 !important;
  border-right: 1px solid #dee2e6 !important;
  border-left: 1px solid #dee2e6 !important;
}

.edit-language-selector {
  min-width: 10rem;
  vertical-align: middle;
}
