th.definitionally-related-terms {
  border-top: none !important;
  padding-left: 0 !important;
  font-size: 100% !important;
}

.definitional-occurrence-edit:not(:first-child) {
  margin-left: 1.5rem;
}

.occurrence-suggested-info {
  font-style: italic;
  font-size: 90%;
}
