@import "./IncludeImportedTermsToggle";
@import "../../styles/custom/colors";

ul.term-items {
  padding-left: 1.2rem;
}

.term-edit .Select-placeholder {
  line-height: 1.5;
  font-size: 0.875rem;
  padding: 0.25rem 0.5rem;
  display: flex;
  align-items: center;
}

.additional-metadata-container {
  margin-top: 1rem;
}

#create-term-toggle-advanced {
  margin-left: -0.75rem;
}

.Select-menu-outer {
  z-index: 3; // Increase z-index to prevent collisions with input group addon buttons in StringListEdits
}

.term-status-label {
  margin-top: 3px;
}

.parent-selector-label {
  font-style: italic;
  font-size: 90%;
}

.term-broader-subproperty-label {
  font-size: 90%;
}

.term-broader-selector {
  min-width: 6rem;
}

#term-metadata-definition {
  margin-top: 0;
}

.term-metadata-definition-source {
  font-size: 1rem;
}
