.draft-margin {
  margin-bottom: 0.5rem;
  font-size: 90%;
}

.draft-margin-detail {
  margin-bottom: -0.7rem;
  flex-basis: 100%;
  font-size: 90%;
}

.term-quality-badge {
  margin-right: 0.5rem;
  cursor: pointer;
  width: 0.1rem;
  height: 0.1rem;
  position: relative;
  top: 0.35rem;
}
