.term-remove-dialog-options {
  input[type="checkbox"] {
    position: relative;
    margin-left: 0;
  }

  .term-remove-strategy-description {
    margin-top: -0.75rem;
    margin-bottom: 1rem;
  }
}
