.comments {
  width: 100%;
}

.comments .comment {
  position: relative;
  line-height: 1.2;
}

.comment .avatar {
  width: 2.5rem;
  height: 2.5rem;
}

.comment .content {
  display: block;
  margin-left: 3.5rem;
  margin-top: 0;
}

.comment .author {
  font-weight: 700;
}

.comment .metadata {
  margin-left: 0.5rem;
  display: inline-block;
  font-size: 0.875rem;
}
