@import "../../styles/argon-dashboard-react.scss";

.comments {
  width: 100%;
}

.comments .comment {
  position: relative;
  line-height: 1.2;
}

.comment .avatar {
  width: 2.5rem;
  height: 2.5rem;
}

.comment .content {
  display: block;
  margin-left: 3.5rem;
  margin-top: 0;
}

.comment .author {
  font-weight: 700;
}

.comment .metadata {
  margin-left: 1rem;
  display: inline-block;
  font-size: 0.875rem;
}

.comment .comment-text {
  white-space: pre-wrap;
  overflow-wrap: break-word;
  hyphens: manual;
}

.comment .metadata .actionable-reaction {
  cursor: pointer;
}

.comment .metadata .actionable-reaction:hover {
  transform: scale(1.2);
}
