.property-label {
  font-weight: 600;
  color: rgba(0, 0, 0, 0.7);
  word-break: break-word;
  font-size: 0.875rem;
}

.create-property-button {
  margin-bottom: 0.125rem;
  max-height: 29px;
  padding: 0.25rem 0.75rem;
}
