@import "../../styles/custom/colors";
@import "../../styles/variables";

footer {
  background-color: rgba(255, 255, 255, 1);
  color: $default;

  &.transparent {
    background-color: rgba(255, 255, 255, 0.4);
  }

  a {
    color: $default;
  }

  a:hover {
    $link-hover-color: lighten($default, 10%) !default;
  }
}

.footer-row {
  display: flex;
  align-items: center;
  vertical-align: middle;
  height: $footer-height;
  font-size: 0.875rem;
  z-index: 10;

  @media (max-width: $sm - 1px) {
    font-size: 0.6875rem;
  }

  @media (max-width: $lg - 1px) {
    height: $footer-height-thick;
  }

  .grant-logo {
    height: $footer-height;
    z-index: 11;

    @media (max-width: $md - 1px) {
      display: none;
    }
  }
}

.log-viewer-toggle {
  display: block;
  cursor: pointer;
  padding: 8px 16px;
  color: $default;

  svg {
    height: 1.5em;

    &:hover {
      color: lighten($default, 10%);
    }
  }
}

.news-viewer-toggle {
  cursor: pointer;
  color: $default;

  &:hover {
    color: lighten($default, 10%);
  }
}

.footer-left {
  width: $navbar-vertical-width-expanded;
  height: 100%;
  border-right: 1px solid $gray-700;
  display: flex;
  align-items: center;

  @media (max-width: $md - 1px) {
    width: auto !important;
  }
}

.footer-left-expanded {
  width: $navbar-vertical-width-expanded;
}

.footer-left-collapsed {
  width: auto;
}

.footer-version {
  @media (max-width: $sm - 1px) {
    width: 1ch;
    display: inline-flex;
    white-space: nowrap;
    overflow: hidden;
    text-transform: lowercase;
    text-overflow: ellipsis;
  }
}
