@import "../../styles/custom/colors";
@import "../../styles/variables";

.footer-help {
  z-index: 20;

  i {
    font-size: 1.4em;
  }
}

.footer-sidebar {
  border-top: 1px solid rgba($white, .1);
  padding: 0 0.5rem;
  position: fixed;
  bottom: 0;
  height: $footer-height;
  background-color: $secondary;
  width: $navbar-vertical-width-expanded;
  color: $white;

  a:hover {
    color: $default !important;
  }

  @media (max-width: $lg - 1px) {
    height: $footer-height-thick;
  }
}

footer a {
  color: $default !important;
  &:hover {
    color: lighten($default, 10%) !important;
  }
}
