#remove-vocabulary-dialog {
  .modal-body {
    ul {
      padding: 0;
      list-style: none;
    }
    li {
      padding: 5px 0 5px 10px;
      border-bottom: 1px solid lightgray;
    }
    details {
      .row:hover {
        background-color: rgba(0, 126, 255, 0.1);
      }
    }
  }
}

.asset-tooltip {
  max-width: unset;
}
