#vocabulary-list th {
  vertical-align: top;
  text-align: center;
}

#vocabulary-list .filter-wrapper {
  margin-left: -1.25rem;
  margin-right: -1.25rem;
}

#vocabulary-list .sort-icon {
  vertical-align: text-bottom;
}
