# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches: [master, development]
  pull_request:
    branches: [master, development]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
      - name: Use Node.js
        uses: actions/setup-node@v1
        with:
          node-version: "16.x"
      - name: Install
        run: npm install --legacy-peer-deps
      - name: Prettier Check
        run: npm run prettier:check
      - name: Build
        run: npm run-script build
        env:
          CI: ""
      - name: Test
        env:
          NODE_OPTIONS: "--max-old-space-size=4096"
        run: npm run-script test-ci
